@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter',sans-serif;
  min-height: 100vh; /* Use min-height to ensure the body fills at least the viewport height */
  margin: 0; /* Remove default body margin */
}

:root {
  min-height: 100vh;
  
}



#backgr{
background-image:url(./assets/bg.jpg);
}

#song1{
  background-image:url(./assets/cover1.png);
}
#song2{
  background-image:url(./assets/cover2.png);
}

